# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment files
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.sqlite3
*.db
*.bak
*.tmp

# Ignore configs if needed
configs/*.json
!configs/prompts.json
!configs/kb.json
